{% extends "layout.html" %}

{% block title %}GE/PD Function Explorer{% endblock %}

{% block content %}
	<div class="container">
		<h1>GoldenEye and Perfect Dark Function Explorer</h1>

		<p>These pages allow you to easily view the function pseudo-code in GoldenEye and Perfect Dark ROMs. The functions are manually annotated with titles and comments.</p>

		<p>This is similar to the action blocks in SubDrag's GoldenEye Setup Editor, but with the following differences:</p>

		<ul>
			<li>More readable output</li>
			<li>The global functions are viewable</li>
			<li>Open source</li>
			<li>A focus on community collaboration to document each function and any unknown instructions</li>
		</ul>

		<h2>Submit an annotation</h2>

		<p>To submit an annotation, clone the <a href="https://gitlab.com/ryandwyer/gepd-function-explorer">git repository</a>, amend or create an annotation in the <code>annotations</code> directory, then submit a pull request.</p>

		<p>The git repository also includes the tools used to extract data from the ROMs and generate these pages. Check the repository's readme for more information.</p>
	</div>
{% endblock %}
